*{
  box-sizing: border-box;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
body{
 
  background-image: linear-gradient(to right, #ff512f, #f09819);
}
main{
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.Header--main{
  display: flex;
  justify-content: center;
  align-items: center;

 color: white;
 margin-bottom: 20px;
 font-weight: bold;
  font-size: 25px;
}
.count{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 15px;
  color: white;
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  padding: 20px;

}
.count--reset{
 
  border-radius: 35px;
  margin-top: 5px;
  cursor: pointer;
  color: white;
  border: 1px solid white;
  background-image: linear-gradient(to right, #434343 0%, black 100%);

}
.count--reset:hover{
  background-image: linear-gradient(to right, #ffffff, #0d0d0d);
  color: black;
}
.counter--btn{
  border-radius: 50%;
  height: 40px;
  width: 40px;
  position: relative;
  margin-top: 40px;
  cursor: pointer;
  color: white;
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  border: 1px solid white;
  font-size: 15px;
}
.counter--btn:hover{
  background-image: linear-gradient(to right, #ffffff, #0d0d0d);
  color: black;
}
.add{
  position: relative;
  margin-right: 30px;
}
.App{
  margin-top:25vh;
}
.bold{
  font-weight: 600;
}